<html>
<head>
  <title>hello</title>
  <script>setup({{wid}},{{hei}})</script>
</head>
<body>
  <style>
  #block{
    position: relative;
  }
  #img{
    position: absolute;
  }
  #but{
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: #00bcd4;
  transition: .4s;
}

  #but {
  background: #1ec7bb;
  }


  #sample1{
    position: absolute;
    border: 4px solid;
    border-color: red;
  }
  </style>
  {% set name = data %}
  {% set wid = w %}
  {% set hei = h %}

  <button id="but"type="button" onclick="send()">送信</button>
  <div id="block">
  <img id="img" src="data:image/jpg;base64,{{name}}" alt="">
  </div>
<script>
function send(){
  startX=0
  startY=0
  xx=0
  yy=0
  let f = document.createElement('form');
  f.method = 'post';
  f.action = '/check';
  f.innerHTML = 'a'
  document.body.append(f);
  f.submit();
}
</script>
</body>
</html>
